# Copyright 2012 splinter authors. All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

[report]
exclude_lines =
    raise NotImplementedError

[run]
omit = *tests*

[paths]
source = splinter
