*.pyc
*.swp
coverage-*.egg
ludibrio-*.egg
nose-*.egg
selenium-*.egg
splinter.egg-info
.coverage
distribute-*.egg
docs/_build/*
tags
build/*
*.orig
.ropeproject
dist/*
*.log
*.swn
*.swo
*.DS_Store
/include
/lib
/bin
/.Python
.tox
