zope.testbrowser==5.5.1
lxml==4.6.2
Flask==1.1.2
selenium==3.141.0
coverage==5.4
cssselect>=1.0.3
argparse
Django>=1.7.11; python_version < '3.0'
Django>=2.0.6; python_version >= '3.0'
Pillow==6.2.2; python_version < '3.5'
Pillow==8.1.0; python_version >= '3.5'
pytest==4.6.9; python_version < '3.0'
pytest==6.2.2; python_version >= '3.0'
pytest-xdist==1.34.0; python_version < '3.0'
pytest-xdist==2.2.0; python_version >= '3.0'
six==1.15.0
twine<2; python_version < '3.0'
twine==3.3.0; python_version >= '3.0'
