version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.1
    steps:
      - checkout
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "test-requirements.txt" }}
      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r test-requirements.txt
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "test-requirements.txt" }}
          paths:
            - "venv"
      - run:
          command: |
            . venv/bin/activate
            ./run_tests.py -w tests/test_flaskclient.py