#main ul.simple {
    font-size: 95%;
    margin: 20px 0 20px 20px;
}

#main ul.simple li {
    display: block;
    margin: 5px 0;
}

.footer {
    clear: both;
}

body {
    background: #FFF;
    color: #000;
}

div.document {
    background-color: #FFF;
}

div.highlight pre {
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}

div.highlight-bash {
    margin: 20px;
}

div.highlight-python {
    margin: 20px;
}

div.highlight-python pre {
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}

div.toctree-wrapper {
    line-height: 22px;
    margin-left: 24px;
}

div.toctree-wrapper ul li {
    list-style: disc inside;
}

strong {
    font-weight: bold;
}
