# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - PY_VER: py27
            python-version: 2.7
          - PY_VER: py36
            python-version: 3.6
          - PY_VER: py37
            python-version: 3.7
          - PY_VER: py38
            python-version: 3.8
          - PY_VER: py39
            python-version: 3.9

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: ${{matrix.python-version}}

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      
      - uses: browser-actions/setup-geckodriver@latest
      
      - uses: nanasess/setup-chromedriver@master

      - name: Install test dependencies
        run: pip install tox

      - name: Set env
        run: echo "DISPLAY=:99.0" >> $GITHUB_ENV

      - name: Install selenium server
        run: |
          wget https://selenium-release.storage.googleapis.com/3.10/selenium-server-standalone-3.10.0.jar -O selenium-server.jar
          java -jar selenium-server.jar > /dev/null 2>&1 &

      # Runs a set of commands using the runners shell
      - name: Run tests
        run: |
          sudo apt-get install xvfb
          tox -e lint;
          tox -e tests -- -n 4 tests/test_browser.py tests/test_djangoclient.py tests/test_element_list.py tests/test_flaskclient.py tests/test_request_handler.py tests/test_xpath_concat.py tests/test_zopetestbrowser.py tests/test_webdriver.py tests/test_webdriver_firefox.py tests/test_webdriver_chrome.py;
          xvfb-run --auto-servernum tox -e tests -- tests/test_webdriver_remote.py;
